@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
}
a{
    text-decoration: none;
    color: #000000; 
    font-size: 19px;
    font-family: 'Mandali',sans-serif;
}
/*header*/
header{
width:100%;
background-color: rgb(190, 190, 190);
backdrop-filter: blur(22px);
padding: 10px 20px;
position: fixed;
top: 0;
z-index: 999;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.logopn{
    display: block;
    position: relative;
    z-index: 999;
}
.mesa{
    display: flex;
    list-style: none;
    text-transform: capitalize;
}
.item{
   padding-left: 15px;
   padding-right: 15px;
    margin:0 15px;
    display: flex;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Mandali',sans-serif;
}
/*hamburger menu mobile*/
.hamburger{
  position: absolute;
  top: 25px;
  right: 50px;
  cursor: pointer;
  z-index: 999;
  display: none;
}
.hamburger .line{
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(102, 102, 102);
  transition: all 0.3s;
}
.hamburger .line1{
  transform: translateY(-3px);
}
.hamburger .line3{
  transform: translateY(3px);
}
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(199, 199, 199, 0.295);
  backdrop-filter: blur(14px);
  top: 0;
  left: 0;
  clip-path: polygon(45% 0, 100% 0, 100% 100%,70% 100% );
  transform: translateX(100%);
  transition: all 0.3s;
}
.nav-list{
  position: absolute;
  right: 20%;
  top: 42%;transform: translateY(-50%) ;
  list-style: none;
 }

.itens{
      transform: translateY(-20px);
      opacity: 0;
      transition: all 0.3s;
  }
.itens:not(:last-child){margin-bottom: 40px;}
.itens a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 21px;
  color:rgb(0, 0, 0);
  position: relative;
}
.itens a::after{
  content: '';
  position:absolute;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  bottom: -5px;
  left:0;
  transition: all 0.3s;
}
.itens a:hover::after{width: 100%;}
.hamburger.clicked .line{background-color: rgb(102, 102, 102);
}
.hamburger.clicked .line1{
  transform: translateY(3px) rotate(-135deg);
}
.hamburger.clicked .line2{
  opacity: 0;
}
.hamburger.clicked .line3{
  transform: translateY(-3px) rotate(135deg);
}
.nav.show{
  transform: translateX(0);
}
.nav.show .itens{
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.3s;
}
.item:nth-child(3){
  border-right: black 1px solid;
  margin: 0 auto;
}
/*corpo*/

.content1{
  padding-top: 150px;
 width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color:rgb(0, 46, 123);
  justify-content: space-around;
}
.content0{
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.content0 h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: 'Noto Sans JP' ,sans-serif;
}
.conteudo1{
  position: relative;
  background-color: transparent;
  display: block;
  width: 375px;
  height: 180px;
  
}
.conteudo1 p{
  margin-top: 50px ;
  font-size: 19px;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  color: white;
}

.conteudo2{
  position: relative;
  background-color: transparent;
  display:block;
  width: 375px;
  height: 200px;
  float: right;
  margin-bottom: 20px;
}
.conteudo2 p{
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
 font-size: 19px;
  color: white;
}

.sessao{
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 background-color: white;
}
.fotoa{
  padding: 50px 0;
margin: 0 auto;
  display:block;
  position: relative;
  box-shadow: 10px 5px 42px -13px rgba(0,0,0,0.9);
  -webkit-box-shadow: 10px 5px 42px -13px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 5px 42px -13px rgba(0,0,0,0.9);
  max-width: 80%;
}
.foto1{
  padding: 50px 0;
margin: 0 auto;
  display:block;
  position: relative;
  
}
.titulo{
  color: rgb(0, 0, 0);
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 40px;
  margin-left: 70px;
  font-family: 'Noto Sans JP' ,sans-serif;
}
/*final do corpo*/
.footer{
    height: 335px;
width: 100%;
background-color: rgb(0, 46, 123); 
border-top: 1px solid #606060;
}
.lista-2{ 
padding:0 30px 0 30px;
display: block;
width: 100%;
height: 80%;

}
.lista-2 ul{
  font-family: 'Mandali', sans-serif;
    padding-top:20px;
   list-style: none;
   font-size: 21px;
   text-align: left;
}
.lista-2 li{ color: white;
    padding: 0 40px 0 0;    
    margin: 30px 30px 0 30px;
}
.item-2{
    list-style: none;
    text-align: center;
    margin-left: 20px;
    display: inline-block;
}
.footer-2{display: flex;
  flex-direction: column;
  flex-wrap: wrap;
float: right;
font-size: 23px;
text-align: justify;
margin-right: 20px;}
.footer-2 p{
  width: auto;
  height: auto;
  font-family: 'PT Sans', sans-serif;
}
.footer-img{
    margin-top: 50px;
        float: left;
        width: auto;
        height: 125px;
        display: flex;
}
.lista-2 ul li:nth-child(1){
    margin-right: 5px;
    border-bottom: 3px solid black;
}
.lista-2 ul li:nth-child(2){
    margin-right: 5px;
    border-right: 3px solid black;
}

.socials i{
    padding: 0 20px;
    font-size: 1.7rem;
    color: black;
}
.lista-2 h1{
  font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    color:black;
    margin-top: 50px;
    top: 0;
    float: right;
    width: 270px;
    height: 50px;
}
@media screen and (max-width:986px){ 
  .nav{backdrop-filter: blur(16px);}
  .foto1{
    padding:35px 0;
  }
.content1{
  width: 100%;
  height: 100%;
}
 .content0{
   height: 100%;
   max-width: 100%;
 }
 .content0 h1{
   font-size: 55px;
 }
 .conteudo1 p{
   font-size: 21px;
   margin: 20px;
 }
 .conteudo1{
  display: block;
  position: relative;
   width: 75%;
   margin: 0 auto;
   float: none;
 }
 .conteudo2{
   display: block;
   position: relative;
  width: 75%;
  margin: 0 auto;
  float: none;
}
.conteudo2 p{
  font-size: 21px;
  margin: 20px;
}
  .nav{backdrop-filter: blur(16px);}
  #inicio{
    padding-top: 105px;
  }

  header{
  margin: 0;
  padding: 0;
  }
     
  .em{
    max-width: 100%;
  }  }
 
    @media screen and (max-width:640px){
      .nav{backdrop-filter: blur(16px);}
      .conteudo1 p{
        font-size: 19px;}
        .conteudo2 p{
          font-size: 19px;}
  
        .footer-img{
          width: 210px;
          height: 95px;
        }
        .mesa{
          display: none;
        }
        .hamburger{
          display: block;
        }
        .fotoa{
          max-width: 100%;
          margin: 20px 0 auto;
          padding: 20px 0;
        }
        .foto1{
          max-width: 30%;
          margin: 0 auto;
        }
        .fotos{
          width: 100%;
        }
        .titulo{
          margin: 20px 20px;
          font-size: 25px;
        }
      }
      @media screen and (max-width:576px){
        .nav{backdrop-filter: blur(16px);}
    
       
            .footer{
              background-color:rgb(0, 46, 123) ;
              width: 100%;
              height: 530px;
            }
            .footer-2{
              max-width: 60%;
              display: block;
              margin-top: 75px;
              margin: 0 auto;
              float: none;
            }
              .footer-2 p{
                display: block;
                width: 200px;
                height:100px;
                margin: 0 auto;
              }
            
            .footer-img{
              max-width: 100%;
            float: none;
              margin: 0 auto;
            }
            .socials{
              text-align: center;
              width: 100%;
              margin: 0 auto;
            }
            ul.nav-list{
              width: 53px;
            }
            .itens a{
              font-size: 16px;
            }
            .item-2{
              width: 100%;
              text-align: center;
              display: flex;
              flex-direction: column; 
              margin: 0;}
              .item-2 a{
                text-align: center;
                padding: 0;
              }
            .lista-2 {
              text-align: none;
              width: 100%;
              height: 350px;
              margin: 0;
              padding: 0;}
            .lista-2 ul li:nth-child(1){
              border-right: none;
              border-bottom: 1px solid black;
              margin: 0;}
            .lista-2 ul li:nth-child(2){
              border-right: none;
              border-bottom: 1px solid black;
              margin: 0;
            }
            .lista-2 ul li:nth-child(3){
              border-right: none;
              border-bottom: 1px solid black;
              margin: 0;}
            .lista-2 h1{
            text-align: center;
            padding: 20px 0;
            width: 100%;
            }
           .conteudo1 p{
            font-size: 14px;
           }
           .conteudo2 p{
             font-size: 14px;
           }
        }